.home-wrapper {
  height: calc(90vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-card {
  background: #af2121;
  padding: 3rem;
  border-radius: 12px;
  text-align: center;
  width: 400px;
}

