<form [formGroup]="loginForm" (ngSubmit)="submit()">

    <!-- MESSSAGE SECTION COMPONENT-->
    <p-toast position="top-right"></p-toast>

    <div class="form-wrapper">

        <p class="login">Login User</p>

        <div class="login-form">
            <div class="p-field">
                <label for="email">Email</label>
                <input 
                    id="email" 
                    type="email" 
                    pInputText 
                    formControlName="email" 
                    maxlength="100"
                    (input)="removeSpacesFromEmail($event)" />
                <small class="error" *ngIf="isInvalid('email')">
                    This field cannot be empty and must have a valid email format.
                </small>
            </div>

            <div class="p-field">
                <label for="password">Password</label>
                <input id="password" type="password" pInputText formControlName="password" />
                <small class="error" *ngIf="isInvalid('password')">
                    This field cannot be empty.
                </small>
            </div>

            <button 
            pButton 
            type="submit" 
            label="Login" 
            (click)="submit()"
            [disabled]="loginForm.invalid"
            ></button>
        </div>

    </div>
</form>

