<form [formGroup]="registerForm" (ngSubmit)="submit()">

        <!-- MESSSAGE SECTION COMPONENT-->
    <p-toast position="top-right"></p-toast>

    <div class="form-wrapper">

        <p class="register">Register User</p>

        <div class="login-form">
            <!-- USERNAME -->
            <div class="p-field">
                <label for="username">Username</label>
                <input 
                    id="username" 
                    type="text" 
                    pInputText 
                    formControlName="username" 
                    maxlength="100"
                />
                <small class="error" *ngIf="isInvalid('username')">
                    This field cannot be empty.
                </small>
            </div>

            <!-- EMAIL -->
            <div class="p-field">
                <label for="email">Email</label>
                <input 
                    id="email" 
                    type="email" 
                    pInputText 
                    formControlName="email" 
                    maxlength="100"
                    (input)="removeSpacesFromEmail($event)" />
                <small class="error" *ngIf="isInvalid('email')">
                    This field cannot be empty and must have a valid email format.
                </small>
            </div>

            <!-- PASSWORD -->
             <div class="p-field">
                <label for="password">Password</label>
                <input 
                    id="password" 
                    type="password" 
                    pInputText 
                    formControlName="password"
                    minlength="8" 
                />
                <small class="error" *ngIf="isInvalid('password')">
                    This field cannot be empty and must be at least 8 characters long.
                </small>
            </div>

            <!-- CONFIRM PASSWORD -->
             <div class="p-field">
                <label for="confirmPassword">Confirm Password</label>
                <input 
                    id="confirmPassword" 
                    type="password" 
                    pInputText 
                    formControlName="confirmPassword"
                    minlength="8" 
                />
                <small class="error"
                *ngIf="registerForm.hasError('passwordMismatch') && registerForm.get('confirmPassword')?.touched">
                    Passwords must match.
                </small>
            </div>

            <button 
                pButton 
                type="submit" 
                label="Register" 
                [disabled]="registerForm.invalid"
            ></button>
        </div>

    </div>
</form>


