.transaction-table {
  margin-top: 20px;
}

.type {
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 6px;
}

.payment {
  color: #e53935;
}

.credit {
  color: #43a047;
}

.amount-credit {
  color: #43a047;
  font-weight: 600;
}

.amount-debit {
  color: #e53935;
  font-weight: 600;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
}

.transactions-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 75vh;
}